Binaries
DerivedDataCache
Intermediate
Saved
UnrealEngine
ParagonLtBelica/
StarterContent/
IndustrialArea/
AnimStarterPack/
FirstPerson/
Textures/
AnimStarterPack/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ini
*.cs